<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>File Upload Demo</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="app.module.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
    <script type="text/javascript" src="directives.js"></script>
    <script type="text/javascript" src="services.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="FileUploadController" style="padding-top: 100px; padding-bottom: 100px;">
    <nav class="navbar navbar-default p-3 mb-2 bg-orange text-white navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-white">EXL Document Processor</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid" ng-hide="toggle">
        <div class="row center-top-content">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ask query here..." ng-model="placeId">
                                <span class="input-group-btn">
                                    <button ng-click="ask(placeId)" class="btn btn-orange" type="button">Send</button>
                                </span>
                            </div>
                            <h3 class="custom-text" style="text-align: center;">Or Upload your own file</h5>
                                
                                   <div class="center-container">
                                        <label class="toggle-switch">
                                            <input type="checkbox">
                                            <span ng-click="switchSlide()" class="toggle-slider"></span>
                                        </label>
                                    </div>
                                
                            <div ng-if="slide">
                                <div class="form-group">
                                    <label for="myFileField">Select a file: </label>
                                    <input type="file" demo-file-model="myFile" class="form-control" id="myFileField"/>
                                </div>
                                <button ng-click="uploadFile()" class="btn btn-orange" ng-hide="!isLoading">Upload File</button>
                                <button ng-hide="isLoading" class="btn btn-orange" ng-hide="">Loading......</button>
                                <div>{{serverResponse}}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">

        <div id="page-content-wrapper">
        <div class="container-fluid" ng-repeat="data in conversation" style="padding-left: 250px; padding-right: 250px;">
                <div class="panel panel-default custom-panel" ng-if="data.id%2==0">
                    <div class="panel-body">
                      <span class="custom-text">{{data.value}}</span>
                    </div>
                </div>
                <div class="panel panel-default custom-panelRight" ng-if="data.id%2==1">
                    <div class="panel-body">
                      <span class="custom-textRight">{{data.value}}</span>
                    </div>
                </div>
            </div>
        </div>
        

    <div class="container" ng-hide="!toggle">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="bottom-center-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ask query here..." ng-model="placeId">
                        <span class="input-group-btn">
                            <button ng-click="ask(placeId)" class="btn btn-orange" type="button">Send</button>
                        </span>
                        <span style="margin-top: 10px;">
                            <label class="toggle-switch">
                                <input type="checkbox">
                                <span ng-click="frontSwitchSlide()" class="toggle-slider"></span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>